
.style {
    position: relative;
}

.style::after {
    position: absolute;
    content: "";
    width: 5%;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    bottom: -12%;
    left: 2%;
    transition: width 1s ease-in-out;
}

.style:hover::after {
    width: 100%;
}